export(RPalpha, RPChoose, RPChooseSS, RPEnsembleClass, RPGenerate, RPModel, RPParallel, Other.classifier)
import(MASS)
import(distr)
import(parallel)
importFrom(class, knn, knn.cv)
importFrom(stats, rmultinom)
importFrom(stats, ecdf, optimise, predict, rchisq, rnorm)
importFrom(utils, data)



