export(RPalpha,RPChoose, RPChooseSS,RPEnsembleClass,RPGenerate,RPModel,RPParallel, Other.classifier)
import(MASS)
importFrom(class, knn, knn.cv)
importFrom(stats, rmultinom)
importFrom(parallel,mclapply)


